/* Ensures Leaflet map renders correctly */
:host {
  display: block;
  width: 100%;
  height: 100%;
}

.leaflet-container {
  background-color: #374151; /* bg-gray-700 */
}

/* Custom thin, gray scrollbar for Webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Tailwind gray-500 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Tailwind gray-400 */
}

/* Custom tooltip for displaying the route name on the map */
.route-tooltip {
  background-color: #fca5a5; /* red-300 */
  border-color: #f87171; /* red-400 */
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
